/*
	> npm rum gulp 			--でscssコンパイルを監視

	モバイルファーストとする
		> 携帯画面のCSSを上に
*/
@import 'valiables';


// リセットCSS
@font-face{
	font-family: 'yu';
	src: url(../fonts/YuGothL.ttc) format("truetype");
}
@font-face{
	font-family: 'smart';
	src: url(../fonts/03スマートフォントUI.otf) format("opentype");
}
@font-face{
	font-family: 'arial';
	src: url(../fonts/ariblk.ttf) format("truetype");
}
html{
	font-family: 'yu','smart','sans-serif'; // フォントデータの指定
	margin: 0;
	padding: 0;

	body{
		margin: 0;
		color: $text-color;
		font-size: 15px;
		line-height: 2;
	}
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
	}
}
p, h1, h2, h3, h4, h5, h6{
	margin-top: 0;
}
img{
	vertical-align: bottom;
}


.btn a{
	background-color: $btn-color;
	color: #fff;
	font-size: 20px;
	font-family: 'arial','Bitter', serif;
	width: 185px;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	margin-top: 20px;
	border: 3px solid $btn-color;
	border-radius: 2px;

	&:hover{
		background-color: #fff;
		color: $btn-color;
	}
}


// PC表示
@media screen and ( min-width:1000px ){	
body{
	background-color: $bg-color;
}
header{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	// display: flex;
	// flex-wrap:wrap;
	.global-nav{
		display: inline-block;
		ul{
			display: flex;
			flex-wrap: wrap;
			li{
				display: inline-block;
				padding: 0 20px; 
				height: 35px;
				&:hover{
					background-color: $hover-bg;
					border-radius: 3px;
				}
				a{
					color: #fff;
					text-decoration: none;
					padding-bottom: 3px;
					&:visited{
						color: $visited-color;
					}
					&:hover{
						// text-decoration: underline;
						border-bottom: 2px solid #fff;
					}
				}
			}
		}
	}
	.logo{
		display: inline-block;
		margin-top: 50px;
		width: calc( 100% - 265px);
	}
}

#wrap{
	min-height: calc( 100vh - 100px - 70px ); // 最低でもフッターが一番下になるように高さを確保
	.content{
		width: 960px;
		margin: 0 auto;
	}
}
footer{
	text-align: center;
	color: #fff;
	padding: 20px 0;
	font-family: 'arial', 'Bitter', sans-serif;
	a{
		color: #fff;
		text-decoration: none;
	}
	small{
		font-size: 12px;
	}
}
#index{ //indexページのみ適応させる
	background-image: url(../../pages/images/bg-index.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	.content{ 
		margin-top: 150px;
		
		.index_title{
			font-size: 100px;
			line-height: 1;
			color: #fff;
			font-family: 'arial','Bitter', serif;
			margin-bottom: 50px;
		}
		p{
			font-size: 16px;
			color: #fff;
		}
	}
	.index_footer{
		width: 960px;
		margin: 0 auto;
		text-align: left;
	}
}	// indexのみ


} // デスクトップ用終わり


// 携帯画面用
// @media screen and ( max-width:1000px ){}