@charset "UTF-8";
/*
	> npm rum gulp 			--でscssコンパイルを監視

	モバイルファーストとする
		> 携帯画面のCSSを上に
*/
@font-face {
  font-family: 'yu';
  src: url(../fonts/YuGothL.ttc) format("truetype");
}

@font-face {
  font-family: 'smart';
  src: url(../fonts/03スマートフォントUI.otf) format("opentype");
}

@font-face {
  font-family: 'arial';
  src: url(../fonts/ariblk.ttf) format("truetype");
}

html {
  font-family: 'yu','smart','sans-serif';
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

.btn a {
  background-color: #009cd3;
  color: #fff;
  font-size: 20px;
  font-family: 'arial','Bitter', serif;
  width: 185px;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  margin-top: 20px;
  border: 3px solid #009cd3;
  border-radius: 2px;
}

.btn a:hover {
  background-color: #fff;
  color: #009cd3;
}

@media screen and (min-width: 1000px) {
  body {
    background-color: #cccccc;
  }
  header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
  }
  header .global-nav {
    display: inline-block;
  }
  header .global-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  header .global-nav ul li {
    display: inline-block;
    padding: 0 20px;
    height: 35px;
  }
  header .global-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
  }
  header .global-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
  }
  header .global-nav ul li a:visited {
    color: #788d98;
  }
  header .global-nav ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  header .logo {
    display: inline-block;
    margin-top: 50px;
    width: calc( 100% - 265px);
  }
  #wrap {
    min-height: calc( 100vh - 100px - 70px);
  }
  #wrap .content {
    width: 960px;
    margin: 0 auto;
  }
  footer {
    text-align: center;
    color: #fff;
    padding: 20px 0;
    font-family: 'arial', 'Bitter', sans-serif;
  }
  footer a {
    color: #fff;
    text-decoration: none;
  }
  footer small {
    font-size: 12px;
  }
  #index {
    background-image: url(../../pages/images/bg-index.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  #index .content {
    margin-top: 150px;
  }
  #index .content .index_title {
    font-size: 100px;
    line-height: 1;
    color: #fff;
    font-family: 'arial','Bitter', serif;
    margin-bottom: 50px;
  }
  #index .content p {
    font-size: 16px;
    color: #fff;
  }
  #index .index_footer {
    width: 960px;
    margin: 0 auto;
    text-align: left;
  }
}
